# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/x64
/CalculatorTest/x64
/CalculatorTest/*.user
/CalculatorDLL/x64
/.vs
/CalculatorDLL/*.user
/CalculatorCSharp/bin
/CalculatorCSharp/obj
/build_linux
/build_msvc
/out
/ARM64
/CalculatorTest/ARM64
/CalculatorDLL/ARM64
/CSharpTest/obj
/Win32
/generated
/CPPTest/x64
/CPPTest/ARM64
/CPPTest/Win32
/CSharpTest/bin
/CalculatorDLL/Win32
/SobelDLL/x64
/SobelDLL/ARM64
/SobelDLL/Win32
/CPPTest/history.txt
/SobelDLL/*.user
